Repository gitpachis/WRF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @weiwangncar, @davegill, @llpcarson, @liujake, @ravanah, @kayeekayee, @stacywalters, @dudhia, @gthompsnWRF, @jjguerrette, @domingom

.github/CODEOWNERS:

#	This file sets up default notification for reviews based on who "owns" code.

/run					@weiwangncar
/configure				@davegill @llpcarson @liujake
/compile				@davegill @llpcarson @liujake
/clean					@davegill @llpcarson @liujake
Makefile				@davegill

#	Architecture directories

/arch					@davegill
/tools					@davegill

#	Chemistry
/chem					@ravanah @kayeekayee @stacywalters

#	Physics

/phys					@dudhia @weiwangncar @llpcarson
/phys/module_mp_thompson.F		@gthompsnWRF

#	Data Assimilation

/wrftladj				@liujake
/var					@liujake

#	Dynamics

/dyn_em					@dudhia @weiwangncar @davegill
/dyn_nmm				@llpcarson

#	Registry

/Registry				            @davegill
/Registry/Registry.NMM			@llpcarson
/Registry/registry.tracker	@llpcarson
/Registry/registry.tornado	@llpcarson

/Registry/EM_CHEM			      @ravanah @kayeekayee @stacywalters
/Registry/registry.chem			@ravanah @kayeekayee @stacywalters

/Registry/registry.var 			@liujake
/Registry/registry.var_chem		@liujake @jjguerrette
/Registry/registry.wrfplus		@liujake
/Registry/Registry.wrfvar		@liujake
/Registry/Registry.tladj		@liujake

#	Test directories

/test/em_*				@dudhia @weiwangncar @davegill
/test/nmm_*				@llpcarson
/test/em_fire				@domingom

#	Executable directory

/main					@dudhia @weiwangncar @davegill @llpcarson @ravanah @kayeekayee @stacywalters @liujake

#	Externals directory structure

/external 				@davegill

CMake files for initial chem and chem+kpp builds
  CMakeLists.txt
  chem/CMakeLists.txt
  chem/KPP/kpp/kpp-2.1/CMakeLists.txt
  chem/KPP/util/wkc/CMakeLists.txt
Owners: @ravanah, @kayeekayee, @stacywalters

Rewrite of tuv_kpp directory finding
  chem/KPP/compile_wkc
  chem/KPP/util/wkc/tuv_kpp.c
Owners: @ravanah, @kayeekayee, @stacywalters

Try to get rid of in situ rewriting files
  chem/KPP/util/wkc/gen_kpp.c
  chem/KPP/util/wkc/list_kpp_generated.c
  chem/KPP/util/wkc/protos_kpp.h
Owners: @ravanah, @kayeekayee, @stacywalters

Break up ifdefs for cmake to properly generate dependencies
  chem/chem_driver.F
Owners: @ravanah, @kayeekayee, @stacywalters

Fix highly irregular indentation so edits are much easier
  chem/KPP/util/write_decomp/integr_edit.c
Owners: @ravanah, @kayeekayee, @stacywalters

Adjust arguments to allow for finer control of read/write files
  chem/KPP/util/write_decomp/CMakeLists.txt
  chem/KPP/util/write_decomp/Makefile
  chem/KPP/util/write_decomp/integr_edit.c
Owners: @ravanah, @kayeekayee, @stacywalters

Set open mode so no need to manually remove or track file
  chem/KPP/util/wkc/tuv_kpp.c
Owners: @ravanah, @kayeekayee, @stacywalters

Disable registry_kpp for now
  chem/KPP/util/wkc/CMakeLists.txt
Owners: @ravanah, @kayeekayee, @stacywalters

Prepend sources with src/
  chem/KPP/kpp/kpp-2.1/CMakeLists.txt
Owners: @ravanah, @kayeekayee, @stacywalters

Simplify include to just KPP, we know it is KPP no need to specify thrice
  chem/CMakeLists.txt
Owners: @ravanah, @kayeekayee, @stacywalters

Processing kpp gen files and tuv
  CMakeLists.txt
  chem/KPP/CMakeLists.txt
Owners: @ravanah, @kayeekayee, @stacywalters

Remove any need for in situ source generation listing
  chem/KPP/util/wkc/CMakeLists.txt
  chem/KPP/util/wkc/gen_kpp.c
  chem/KPP/util/wkc/list_kpp_generated.c
  chem/KPP/util/wkc/protos_kpp.h
Owners: @ravanah, @kayeekayee, @stacywalters

Fix open mode char assign
  chem/KPP/util/wkc/tuv_kpp.c
Owners: @ravanah, @kayeekayee, @stacywalters

Don't use env vars in registry gen, use defines passed in
  tools/data.h
  tools/registry.c
Owners: @davegill

Final set of sources and run registry_kpp
  chem/CMakeLists.txt
  chem/KPP/CMakeLists.txt
  chem/KPP/util/wkc/CMakeLists.txt
  tools/CMakeLists.txt
Owners: @ravanah, @kayeekayee, @stacywalters, @davegill

Remove unused KPP_SOURCES var
  chem/CMakeLists.txt
  chem/KPP/CMakeLists.txt
Owners: @ravanah, @kayeekayee, @stacywalters

Newline at end of file
  CMakeLists.txt
Owners: none

Adjust defines and registry check to only look for defs not defs with value
  CMakeLists.txt
  tools/registry.c
Owners: @davegill

Add decomp rewrite as apparently it is used
  chem/KPP/CMakeLists.txt
  chem/KPP/util/write_decomp/CMakeLists.txt
Owners: @ravanah, @kayeekayee, @stacywalters

Only build KPP if requested
  chem/CMakeLists.txt
Owners: @ravanah, @kayeekayee, @stacywalters
