Repository gitpachis/WRF, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wrf-model/global_owner, @wrf-model/infrastructure, @wrf-model/chem, @wrf-model/physics, @gthompsnWRF, @wrf-model/da, @wrf-model/arw_dev_team, @wrf-model/nmm_dev_team, @wrf-model/fire

.github/CODEOWNERS:

#	This file sets up default notification for reviews based on who "owns" code.

#	Default

*					@wrf-model/global_owner

#	Next, generic top-level run dir and build files

/run/					@wrf-model/infrastructure
/configure				@wrf-model/infrastructure
/compile				@wrf-model/infrastructure
/clean					@wrf-model/infrastructure
/Makefile				@wrf-model/infrastructure

#	Architecture directories

/arch/					@wrf-model/infrastructure
/tools/					@wrf-model/infrastructure

#	Chemistry
/chem/					@wrf-model/chem

#	Physics

/phys/					@wrf-model/physics

/phys/module_mp_thompson.F		@gthompsnWRF @wrf-model/physics

#	Data Assimilation

/wrftladj/				@wrf-model/da
/var/					@wrf-model/da

#	Dynamics

/dyn_em/				@wrf-model/arw_dev_team	
/dyn_nmm/				@wrf-model/nmm_dev_team	

#	Registry

/Registry/				@wrf-model/infrastructure

/Registry/Registry.NMM			@wrf-model/nmm_dev_team
/Registry/registry.tracker		@wrf-model/nmm_dev_team
/Registry/registry.tornado		@wrf-model/nmm_dev_team

/Registry/Registry.EM_CHEM		@wrf-model/chem
/Registry/registry.chem			@wrf-model/chem

/Registry/registry.var 			@wrf-model/da
/Registry/registry.var_chem		@wrf-model/da
/Registry/registry.wrfplus		@wrf-model/da
/Registry/Registry.wrfvar		@wrf-model/da
/Registry/Registry.tladj		@wrf-model/da

#	Test directories

/test/em_*				@wrf-model/arw_dev_team
/test/nmm_*				@wrf-model/nmm_dev_team
/test/em_fire				@wrf-model/fire

#	Executable directory

/main/					@wrf-model/arw_dev_team @wrf-model/nmm_dev_team @wrf-model/infrastructure

#	Externals directory structure

/external/ 				@wrf-model/infrastructure

CMake files for initial chem and chem+kpp builds
  CMakeLists.txt
  chem/CMakeLists.txt
  chem/KPP/kpp/kpp-2.1/CMakeLists.txt
  chem/KPP/util/wkc/CMakeLists.txt
Owners: @wrf-model/global_owner, @wrf-model/chem

Rewrite of tuv_kpp directory finding
  chem/KPP/compile_wkc
  chem/KPP/util/wkc/tuv_kpp.c
Owners: @wrf-model/chem

Try to get rid of in situ rewriting files
  chem/KPP/util/wkc/gen_kpp.c
  chem/KPP/util/wkc/list_kpp_generated.c
  chem/KPP/util/wkc/protos_kpp.h
Owners: @wrf-model/chem

Break up ifdefs for cmake to properly generate dependencies
  chem/chem_driver.F
Owners: @wrf-model/chem

Fix highly irregular indentation so edits are much easier
  chem/KPP/util/write_decomp/integr_edit.c
Owners: @wrf-model/chem

Adjust arguments to allow for finer control of read/write files
  chem/KPP/util/write_decomp/CMakeLists.txt
  chem/KPP/util/write_decomp/Makefile
  chem/KPP/util/write_decomp/integr_edit.c
Owners: @wrf-model/chem

Set open mode so no need to manually remove or track file
  chem/KPP/util/wkc/tuv_kpp.c
Owners: @wrf-model/chem

Disable registry_kpp for now
  chem/KPP/util/wkc/CMakeLists.txt
Owners: @wrf-model/chem

Prepend sources with src/
  chem/KPP/kpp/kpp-2.1/CMakeLists.txt
Owners: @wrf-model/chem

Simplify include to just KPP, we know it is KPP no need to specify thrice
  chem/CMakeLists.txt
Owners: @wrf-model/chem

Processing kpp gen files and tuv
  CMakeLists.txt
  chem/KPP/CMakeLists.txt
Owners: @wrf-model/global_owner, @wrf-model/chem

Remove any need for in situ source generation listing
  chem/KPP/util/wkc/CMakeLists.txt
  chem/KPP/util/wkc/gen_kpp.c
  chem/KPP/util/wkc/list_kpp_generated.c
  chem/KPP/util/wkc/protos_kpp.h
Owners: @wrf-model/chem

Fix open mode char assign
  chem/KPP/util/wkc/tuv_kpp.c
Owners: @wrf-model/chem

Don't use env vars in registry gen, use defines passed in
  tools/data.h
  tools/registry.c
Owners: @wrf-model/infrastructure

Final set of sources and run registry_kpp
  chem/CMakeLists.txt
  chem/KPP/CMakeLists.txt
  chem/KPP/util/wkc/CMakeLists.txt
  tools/CMakeLists.txt
Owners: @wrf-model/chem, @wrf-model/infrastructure

Remove unused KPP_SOURCES var
  chem/CMakeLists.txt
  chem/KPP/CMakeLists.txt
Owners: @wrf-model/chem

Newline at end of file
  CMakeLists.txt
Owners: @wrf-model/global_owner

Adjust defines and registry check to only look for defs not defs with value
  CMakeLists.txt
  tools/registry.c
Owners: @wrf-model/global_owner, @wrf-model/infrastructure

Add decomp rewrite as apparently it is used
  chem/KPP/CMakeLists.txt
  chem/KPP/util/write_decomp/CMakeLists.txt
Owners: @wrf-model/chem

Only build KPP if requested
  chem/CMakeLists.txt
Owners: @wrf-model/chem
